<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>
  <section class="card">
    <div class="card_wrap">
      <div class="card_title">회원가입</div>
      <div class="input_wrap">
        <input type="text" id="input_name" class="input" name="user_name"/>
        <label for="input_name">이름</label>
      </div>
      <div class="input_wrap">
        <div class="flex">
          <input type="text" id="input_id" class="input" name="user_id"/>
          <button type="button" id="input_chk" class="btn" onclick="checkId()">중복확인</button>
        </div>
        <label for="input_id">아이디</label>
      </div>
      <div class="input_wrap">
        <input type="text" id="input_pwd" class="input" name="user_pwd"/>
        <label for="input_pwd">비밀번호</label>
      </div>
      <div class="input_wrap">
        <input type="text" id="input_pwdConfirm" class="input" name="user_pwdConfirm"/>
        <label for="input_pwdConfirm">비밀번호 확인</label>
      </div>
      <div class="input_wrap">
        <input type="date" id="input_birth" class="input" name="user_birth"/>
        <label for="input_birth">생년월일</label>
      </div>
      <div class="input_wrap">
        <input type="text" id="input_tel" class="input" name="user_tel"/>
        <label for="input_tel">전화번호</label>
      </div>
      <div class="button_wrap">
        <button type="button" id="btn_login" class="btn" onclick="signup()">회원가입</button>
      </div>
    </div>
  </section>
</body>
<script>
  const signup = async() => {
    const user_name = document.getElementById("input_name").value;
    const user_id = document.getElementById("input_id").value;
    const user_pwd = document.getElementById("input_pwd").value;
    const user_pwdConfirm = document.getElementById("input_pwdConfirm").value;
    const birth_date = document.getElementById("input_birth").value;
    const tel = document.getElementById("input_tel").value;

    try {
      const response = await fetch('/api/user/signup')
    }
  }
</script>
<!-- <script>
  // 회원가입 함수
  const signup  = async () => {
    const user_name = document.getElementById("input_name").value;
    const user_id = document.getElementById("input_id").value;
    const user_pwd = document.getElementById("input_pwd").value;
    const user_pwdConfirm = document.getElementById("input_pwdConfirm").value;
    const birth_date = document.getElementById("input_birth").value;
    const tel = document.getElementById("input_tel").value;

    // 비밀번호 일치 여부
    if(user_pwd !== user_pwdConfirm) {
      alert("비밀번호가 일치하지 않습니다.");
      return;
    }

    // 회원가입 요청 보내는 부분
    try {
      const response = await fetch("/api/user/signup", { // fetch : HTTP 요청을 서버에 보내는 함수
        method: "POST", // post 방식으로 요청 보냄
        headers: { "Content-Type": "application/json" }, // 요청 헤더에 JSON 형식의 데이터임을 명시
        body: JSON.stringify({ user_name, user_id, user_pwd, birth_date, tel }) // 요청 본문에 JSON 형식으로 회원가입 정보를 담아서 보냄
      });
      const data = await response.json(); // json 받은걸 자바스크립트 객체로 변환해서 data 변수에 저장
      console.log(data);
      // 회원가입 성공 여부 조건문
      if (data.success) { // 성공
        alert(data.message);
        window.location.href = "/login"; // 회원가입 성공 후 로그인 페이지로 이동
      } else { // 실패
        alert(data.message);
      }

    } catch (error) { // 네트워크 오류 등으로 요청이 실패한 경우
      console.error("Error:", error);
      alert("회원가입 중 오류가 발생했습니다. 다시 시도해주세요.");
      return;
    }
  }

  // 아이디 중복 여부 체크
  const checkId = async () => {
    const user_id = document.getElementById("input_id").value;

    try {
      // 쿼리 파라미터(Query Parameter) : URL 뒤에 붙어서 서버로 데이터를 전달하는 값
      // URL ? key=value
      const response = await fetch(`/api/user/checkid?user_id=${user_id}`);
      const data = await response.json();

      if (data.exists) { // 아이디 중복 시
        alert("아이디가 중복됩니다");
      } 
      return alert("가능합니다")
    } catch (error) {
      console.error("Error:", error);
      alert("회원가입 중 오류가 발생했습니다. 다시 시도해주세요.");
    }
  }
</script> -->
</html>